body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.register-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

.register-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #45a049;
}

.register-form p {
    margin: 10px 0;
}
